<div style="margin-top: 50px; padding: 40px;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Loading...">
    <div class="flex flex-col items-center">
      <h1 class="text-xl font-bold text-gray-800 mb-4 text-center">Post Car</h1>

      <form nz-form [formGroup]="updateForm">
        <div class="pb-6">
          <div class="profile-badge">
            <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
              <img class="profile" [src]="imagePreview" alt="profile" />
            </label>

            <input type="file" nz-button nzType="primary" id="upload_profile_image" (change)="onFileSelected($event)"
              accept="image/*" />
          </div>
        </div>

        <div class="form-group">
          <select id="brand" formControlName="brand" required>
            <option value="" disabled selected>Select a Brand</option>
            <option *ngFor="let brand of listOfBrands" [value]="brand">{{ brand }}</option>
          </select>
          <div *ngIf="updateForm.controls['brand'].invalid && updateForm.controls['brand'].touched" class="error-message">
            Brand is required.
          </div>
        </div>
        

      <div class="form-group">
        <input id="name" formControlName="name" placeholder="name" required />
        <div *ngIf="updateForm.controls['name'].invalid && updateForm.controls['name'].touched" class="error-message">
          Name is Required
        </div>
      </div>

    <div class="form-group">
      <select id="type" formControlName="type" required>
        <option value="" disabled selected>Select a Type</option>
        <option *ngFor="let type of listOfType" [value]="type">{{ type }}</option>
      </select>
      <div *ngIf="updateForm.controls['type'].invalid && updateForm.controls['type'].touched" class="error-message">
        Type is required.
      </div>
    </div>


  <div class="form-group">
    <select id="transmission" formControlName="transmission" required>
      <option value="" disabled selected>Select a Transmission</option>
      <option *ngFor="let transmission of listOfTransmission" [value]="transmission">{{ transmission }}</option>
    </select>
    <div *ngIf="updateForm.controls['transmission'].invalid && updateForm.controls['transmission'].touched" class="error-message">
      Transmission is required.
    </div>
  </div>
  

  <div class="form-group">
    <select id="color" formControlName="color" required>
      <option value="" disabled selected>Select a Colour</option>
      <option *ngFor="let color of listOfColor" [value]="color">{{ color }}</option>
    </select>
    <div *ngIf="updateForm.controls['color'].invalid && updateForm.controls['color'].touched" class="error-message">
      Colour is required.
    </div>
  </div>


  <div class="form-group">
    <input id="year" formControlName="year" placeholder="Year" required />
    <div *ngIf="updateForm.controls['year'].invalid && updateForm.controls['year'].touched" class="error-message">
      Year is required.
    </div>
  </div> 



  <div class="form-group">
    <input id="price" formControlName="price" placeholder="Price" required />
    <div *ngIf="updateForm.controls['price'].invalid && updateForm.controls['price'].touched" class="error-message">
      Price is required.
    </div>
  </div> 


<div class="form-group">
  <input id="description" formControlName="description" placeholder="Description" required />
  <div *ngIf="updateForm.controls['description'].invalid && updateForm.controls['description'].touched" class="error-message">
    Discription is required.
  </div>
</div> 



        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="updateCar()">
          Update Car
        </button>
      </form>
    </div>
  </nz-spin>
</div>