<form [formGroup]="forgotpasswordForm" (ngSubmit)="sendOtp()">
  <div class="input-group">
    <label for="registeredEmail">Enter Registered Email ID:</label>
    <input type="registeredEmail" id="registeredEmail" formControlName="registeredEmail" name="registeredEmail" placeholder="Enter registered Email" required>
    <div *ngIf="forgotpasswordForm.controls['registeredEmail'].invalid && forgotpasswordForm.controls['registeredEmail'].touched" class="error-message">
        email is required
    </div>
    <button type="submit">Send OTP</button>
    </div>
    </form>

    <!-- OTP Verification Form -->
<div *ngIf="otpSent">
    
    <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
      <div class="input-group">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" formControlName="otp" placeholder="Enter OTP" required>
        <div *ngIf="otpForm.controls['otp'].invalid && otpForm.controls['otp'].touched" class="error-message">
            4 digt OTP is required
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>

  <!-- New Password Form -->
<div *ngIf="otpVerify">
  <form [formGroup]="newPasswordForm" (ngSubmit)="updatePassword()">
    <div class="input-group">
      <label for="newPassword">Enter New Password:</label>
      <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password" required>
      <div *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched" class="error-message">
        New password is required
      </div>
      <button type="submit">Update Password</button>
    </div>
    
  </form>
</div>